#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  background-color: #f4f2ee;
}

.header-logo {
  width: 25%
}

/* HomePage */
.article-grid-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.article-grid-item {
  display: flex;
  grid-column-start: 1;
  max-width: 300px;
}

.article-card {
  display: block;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: solid 2px #e1e0dd;
  border-radius: 5px;
}

.article-card:hover {
  background-color: #e5e1dc;
}

.article-image {
  border-radius: 5px;
  width: 100%;
}

/* ArticleByIdPage */
.single-article {
  display: block;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border: solid 2px #e1e0dd;
  border-radius: 5px;
}

form {
  width: 100%;
  text-align: center;
}

#post-comment-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

#post-comment {
  width: 90%;
  height: auto;
  border-radius: 1em;
  padding: 5px
}

/* Comment cards */
.comment-cards-container {
  display: flex;
  flex-direction: column;
}


.comment-cards {
  display: block;
  margin: 0px 20px 20px 20px;
  padding: 20px;
  background-color: #ffffff;
  border: solid 2px #e1e0dd;
  border-radius: 5px;
}

/* Buttons */
.button {
  border-radius:999px;
  padding: 5px
}

.upvote-active {
  border-radius:999px;
  background-color: rgb(12, 195, 18);
}

.downvote-active {
  background-color: rgb(223, 0, 0);
}
