#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  text-align: left;
}

.card:hover {
  background-color:rgb(233, 233, 233);
}

.upvote-active {
  background-color:rgb(12, 195, 18);
}

.downvote-active {
  background-color:rgb(223, 0, 0);
}